{% extends 'securitypolicy/base.html' %}
{% block content %}
<h1>Policy Home</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br /><br />
<ul>
    {% for section in sections %}
    <article class="media content-section">
        <div class="media-body">
            <table>
                <header class="p-2 bg-dark text-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1><a class="article-title text-white" href="{% url 'section-detail' section.pk %}">{{ section.title }}</a></h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-primary" data-toggle="collapse" data-target="#details{{ section.id }}">Details</button>
                        </div>
                    </div>
                </header>
                <row>
                    <div id="details{{ section.id }}" class="collapse">
                        <p class="article-content">{{ section.description|safe|truncatechars:250 }}</p>
                    </div>
                </row>
            </table>

        </div>
    </article>
    {% endfor %}
</ul>
{% endblock content %}
