{% extends 'securitypolicy/base.html' %}
{% block content %}
<h1>Policy Home</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<br /><br />
<ul>
    <!--<a href="{% url 'policy-home'%}">Policies > </a>-->
    <article class="media content-section">
        <div class="media-body">
            {% for section in sections %}
            <table>
                <header class="p-2 bg-light text-white">
                    <div class="row section-row">
                        <div class="col-sm-6">
                            <h4><i class="fas fa-folder"></i> <a class="article-title" href="{% url 'subsection-list' section.policy_id section.pk %}">{{ section.title }}</a></h4>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" data-html="true" data-content="{{ section.description|safe|truncatechars:250 }}">
                                Details
                            </button>
                        </div>
                    </div>
                </header>
                {% endfor %}
            </table>

        </div>
    </article>

</ul>
{% endblock content %}
