{% extends 'securitypolicy/base.html' %}
{% block content %}
{% if object.author == user or user.is_superuser  %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'policy-update' policy.id %}">Update</a>
<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'policy-delete' policy.id %}">Delete</a>
{% endif %}

<h1>{{ subsection.title }} - Rules</h1>
{{ section.description|safe }}
<a href="{% url 'subsection-list' policy.id section.id %}" class="btn btn-outline-primary btn-sm">Back to {{ section.title }}</a><hr />

{% if not rules %}
<div class="alert alert-danger alert-dismisible fade show">
  <h4 class="alert-heading"> No rules... Going back...</h4>
</div>
<script>
setTimeout('history.go(-1)', 3000);
</script>
{% else %}

{% for rule in rules %}
<div class="content-section">
  <div class="row bg-info">
    <div class="col-sm-12 text-white">
      <i class="fas fa-greater-than"></i> <a class="text-white" href="{% url 'rule-detail' rule.pk %}">{{ rule.title }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 align-middle text-center font-weight-bold">
      {{ rule.reference }}
    </div>
    <div class="col-sm-10 text-justify">
      {{ rule.content|safe|truncatechars:250 }}
    </div>
  </div>
</div>
<hr>
{% endfor %}

{% endif %}
{% endblock content %}
