{% extends 'securitypolicy/base.html' %}
{% block content %}
<h1>{{ policy.title }} - Sections</h1>
{{ policy.description|safe }}
<ul>
    <!--<a href="{% url 'policy-home'%}">Policies > </a>-->
    <article class="media content-section">
        <div class="media-body">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <a href="{% url 'policy-home' %}" class="btn btn-outline-primary btn-sm">{{ policy.title }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}

                <tr>
                    <td class="p-1">
                        <div class="row">
                            <div class="col-sm-8 mt-0 mb-0">
                                <h5>
                                    <i class="fas fa-folder"></i>
                                    <a class="article-title" href="{% url 'subsection-list' section.policy_id section.pk %}">
                                        {{ section.title }}
                                    </a>
                                </h5>
                            </div>
                            <div class="col-sm-4 text-right">
                                #Rules : {{ section.total_rules }}
                                <button type="button" class="btn btn-outline-primary btn-sm" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" data-html="true" data-content="{{ subsection.description|safe|truncatechars:250 }}">
                                    Details
                                </button>
                            </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</ul>
{% endblock content %}
